[submodule "include/vendor/glm"]
	path = include/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "include/vendor/glew"]
	path = include/vendor/glew
	url = https://github.com/nigels-com/glew.git
